
.Edit {
    background-color: #f8d7bb;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  
  }
  
  .Edit label {
    display: block;
    margin-bottom: 10px;
    padding: 20px;
    
  }
  
  .Edit h5 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }
  
  .Edit .input {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;

  }
  
  .Edit button.save {
    background-color: #a09f97;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    /* cursor: pointer; */
  }
  
  
  @media (max-width: 768px) {
    .Edit {
      padding: 15px;
      max-width: 400px;
    }
  
    .Edit h5 {
      font-size: 14px;
    }
  
    .Edit .input {
      padding: 6px;
    }
  
    .Edit button.save {
      padding: 8px 16px;
    }
  }
  

